.input-file{
    position:relative;
    display:block;
    width: 100%;
    margin:0px;
}
.input-file>label{
    display:block;
    text-align: left;
}
input[type="file"]{
    position:relative;
    display:none;

}
.nombre-archivo{
    position:relative;
    margin:0px;
    margin-bottom: 15px;
    height: 50px;
    border:1px solid gray;
    padding:8px;
    width: 100%;
    border-radius:5px;
    background-image: url("../images/iconos/pdf-icon.jpeg");
    background-repeat: no-repeat;
    background-size:50px;
    background-position: right;
    padding-right:60px;
    word-break: break-all;
    overflow: hidden;
    cursor:pointer;
}

.nombre-archivo:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}
.tab-container-item{
    display: none;
}
.tab-container .active{
    display:block;
    
}
.tab-header{
    background-color:#2f565c;
}
.tab-header button{
    background-color: #5a6e78;
    color:#ffffd1;
}

.tab-header button.active{
    background-color: #ffffd1;
    color:#5a6e78;
}

